node:
    private_key: HvfpCcjkPbyRXdVr89saqHFaUej0T30pGLYDRQXFl4/jeEem1rw8dUzdKil+rmWSZvPjHsv9bZxrTTW4ksfD5w==
network:
    addresses:
        - /ip4/0.0.0.0/udp/9000/quic
        - /ip6/::/udp/9000/quic
peers:
    exchange_interval: 30s
    connection_timeout: 10s
logging:
    level: info
    format: json
